.selectArrow {
  width: 24px;
  height: 24px;
  background-image: url("/img/chevron_gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
